.navbar {
  .navbar-brand {

    img {
      position: absolute;
      overflow: hidden;
      top: -0.7em;
      left: .7em;
      transform: translate(-1%,-1%);
    }
  }
  .navbar-nav {
    display: inline-block;

    li {
      display: inline-block;
      margin-left: 2em;

      &:first-child {
        margin-left: 3.5em;
      }
    }
  }
}
